<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="Session factory">
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">epul</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/cerisaie</property>
        <property name="hibernate.connection.username">userepul</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        
        <mapping class="metier.Client" />
        <mapping class="metier.Activite" />
        <mapping class="metier.Emplacement" />
        <mapping class="metier.Sejour" />
        <mapping class="metier.Sport" />
        <mapping class="metier.TypeEmplacement" />
    </session-factory>
</hibernate-configuration>
